{% extends 'dashboard.html.twig' %}

{% block title %}Registro de Log Entries{% endblock %}

{% block main %}
    <h1 class="text-center">Summary for Dev</h1>
    <div class="container-fluid">
        <table class="customers">
            <tr>
                <th>ID</th>
                <th>Entorno</th>
                <th>Nivel</th>
                <th>Cantidad</th>

            </tr>
            {% for log_summary in log_summaries %}
                <tr>
                    <td>{{ log_summary.id }}</td>
                    <td>{{ log_summary.environment}}</td>
                    <td>
                        {% if log_summary.level.level == 'INFO' %}
                            <span class="label info">{{ log_summary.level.level }}</span>
                        {% endif %}

                        {% if log_summary.level.level == 'DEBUG' %}
                            <span class="label success">{{ log_summary.level.level }}</span>
                        {% endif %}

                        {% if log_summary.level.level == 'WARNING' %}
                            <span class="label warning">{{ log_summary.level.level }}</span>
                        {% endif %}

                        {% if log_summary.level.level == 'ERROR' %}
                            <span class="label danger">{{ log_summary.level.level }}</span>
                        {% endif %}

                        {% if log_summary.level.level == 'CRITICAL' %}
                            <span class="label danger">{{ log_summary.level.level }}</span>
                        {% endif %}

                    </td>
                    <td>{{ log_summary.count.count }}</td>
                </tr>
            {% endfor %}

        </table>
    </div>
{% endblock %}