{% extends './base.html.twig' %}

{% block title %}Registro de usuario{% endblock %}

{% block body %}
    <!--<main class="form-signin">
        <form>
            <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
        </form>
    </main>-->
   <div class="login">
       {{ form_start(form) }}
            <h3 class="text-center">Registrarse</h3>
            <div class="row">
                <div class="col-1">
                    {{ form_label(form.mail) }}
                </div>
                <div class="col-1">
                    {{ form_widget(form.mail) }}
                    {{ errors.existing_user}}
                </div>
                <div class="col-1">
                    {{ form_label(form.password) }}
                </div>
                <div class="col-1">
                    {{ form_widget(form.password) }}
                    {{ errors.password }}
                </div>
                <div class="col-1">
                    {{ form_label(form.confirmPassword) }}
                </div>
                <div class="col-1">
                    {{ form_widget(form.confirmPassword) }}
                    {{ errors.confirm_password }}
                </div>
                <div class="col-1">
                    {{ form_row(form.Registrar) }}
                </div>
            </div>

       {{ form_end(form) }}
   </div>
    <!--<form action="" class="login">
        <h3 class="text-center">Inicio de sesión</h3>
        <div class="form-group">
            <label for="Nombre">Nombre</label>
            <input type="text" class="form-control" name="Nombre" id="Nombre" placeholder="Escribe tu nombre">
        </div>
        <div class="form-group">
            <label for="Pass">Clave</label>
            <input type="password" class="form-control" name="Pass" id="Pass" placeholder="Escribe tu Clave">
        </div>
        <p class="text-center">
            <button class="btn btn-primary btn-block">Login</button>
        </p>
    </form>-->
{% endblock %}





